# Virtual environment
venv/
.venv/
env/

# Generated output folders
output/
summaries/
snapshots/

# Python cache
__pycache__/
*.pyc
*.pyo

# Personal data
recent_projects.json

# macOS
.DS_Store


# IDE
.vscode/
.idea/

.env 

contextforllm.egg-info/